*{
    padding: 0ex;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.head{
    display: flex;
    gap: 15px;
}
.head h2{
    padding-top: 16px;
}
.headimg{
    /* size: 56px;/ */
    width: 100px;
     padding-top: 4px;
}
header{
    display: flex; 
    justify-content: space-around;  
}
.head_2{
     padding-top: 16px;
     display: flex;
     /* justify-content: space-evenly; */
     gap: 30px;
}
.head_2 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.home{
    max-width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    gap: 70px;
    padding: 10px 60px;
    margin-bottom: 200px;
    /* margin-bottom: 500px; */
}
.homeleft{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.homeleft_1{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.homeleft_1 button{
    width: fit-content;
    padding: 10px 17px;
    background-color: #A53DFF;
    color: white;
    border: none;
    border-radius: 4px;
}
p{
    font-size: 14px;
}
.hleft_1{
    background-color: rgb(227, 239, 244);
    width: fit-content;
    padding: 10px 20px;
}
.hleft_1 h4{
    text-align: center;
}
.homeleft_2{
    display: grid;
    grid-template-columns: 110px 150px 130px;
}


.homerightimg{
    width: 23%;
    border-radius: 15px;
}
.action{
    width: 65%;
    margin: auto;
    display: flex;
    margin-top: 300px;
    border-radius: 8px;
    /* justify-content: space-around; */
   position: absolute;
   background-color: #FFFFFF;
   padding: 20px;
   top: 350px;
   right: 250px;
   z-index: 1;
}
.actionright{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.actionimg{
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}
.actionbutton_1{
    padding: 9px 17px;
    background-color: #A53DFF;
    color: white;
    border: none;
    border-radius: 4px;
}
.actionbutton_2{
    padding: 9px 17px;
    background-color: transparent;
    color: #A53DFF;
    border: 1px solid #A53DFF;
}
.actionbutton{
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}
.facebook{
    width: 2%;
}
.a{
    width: 2%;
}


.icon{
   /* background-color: white; */
   width: 100px;
   /* border: 1px solid; */
   display: inline;
   width: fit-content;
   position: absolute;
 bottom: 25px;
 left: 10%;
}
.white{
    background-color: white;
    width: 2%;
    
}
.data{
    display: flex;
    /* justify-content: space-around; */
    gap: 300px;
    justify-content: space-evenly;
    background-color: #F0F1F3;
    /* margin-bottom: 200px; */
    position: relative;
}
.dataleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-top: 300px; 
}
.datatext{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid; */
}
.dataleft h1{
    padding-top: 120px;
}
.dataright{
    width: 50%;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   gap: 20px;
   margin-top: 300px; 
   
}
.dataimg{
    width: 28%;
    border-radius: 4px;
}
.datacard{
    width: 35%;
    /* border: 1px solid; */ 
    background-color: white;   
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 9px;
    
}
.datacard h3{
    margin-bottom: 10px;
}
.datacard:hover{
    transform: scale(1.04);
    transition-duration: 1s;
}
.cardcontainer_1{
   display: flex;
   gap: 20px; 
   /* padding: 2px 500px;   */
}

.port{
    text-align: center;
padding-top: 29px;
margin-bottom: 45px;

}

.ae{
    width: 300px;
    
    
}
.bar{
    width: 300px;
    /* margin-left: 80px;  */
}



.mar{
    margin-top: 15px;
    margin-left:  90px;
}
.t{
    margin-left: 90px;
}

.amir{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.as{
    margin-left: 80px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    background-color: darkslateblue
}
.kk{
    margin: auto;
    align-items: center;
    background-color: purple;
    width: 80px;
    height: 35px;
    border: none;
   
   
    
}

.store{
    background-color: midnightblue;
    height: 40vh;
    text-align: center;
    color: white;
    padding-top: 60px;
}


.ul{
    display: flex;
    margin: 0px auto        ;
    align-items: center;
    padding: 5px 7px;
}


.jan{
    text-align: center;
}

.dgq{
display: flex;
justify-content: center;
flex-direction: column;
gap: 15px;
margin-bottom: 15px;
}
.pcb{
 margin-left: 150px;
 display: flex;gap: 50px;


}
.laq{
    width: 200px;
}

.jjj{
   /* margin-left: 180px; */
   background-color: rgb(190, 189, 189);
   width: 75%;
   display: flex;
   flex-direction: row;
   height: 50vh;
   justify-content: space-evenly;
   margin: auto;

   


}
.mi{
     
    margin-left: 45px;
    padding-top: 8%;
  
}
.bp{
    margin-left: 667px;
}
.B{
    background-color: #A53DFF;
    border: none;
    width: 80px;
    height: 4vh;
}


.brg{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    /* padding-left: 600px; */
    border: 1px solid black;
    gap: 49px;
    
    
}
.brg div{
    width: 300px;
    height: 60px;
}
.noumn{
    text-align: center;
    background-color: red;
    color: white;
    padding-top: 25px;
    width: 100%;
    height: 50%;
    
    
}
.tusaf{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pm{
    display: flex;
    width: 100%;
      
}

.sud{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    color: black;
    
}
.sud h2{
    color: blue;

}
.sufi{
   
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 25%;
    padding-right: 34%;
}


    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        

    }
    .card_project{
        display: flex;
      align-items: center;
    
        gap: 5px;
        justify-content: center;
        flex-direction: column;
        
    }

     .kkr{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 34%;
       
            
    } 
   
    


































































































































































































































































































































































































